<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/f123c5d449.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <header>
        <h1 class="site">
          <a class="site"href="/"></a> </br>
          <b>A Tech Blog for Developers</b>
        </h1>
        <nav class="navs">
          <span><a href="/">Home</a></span> 
          {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Made with love by Kayla D. ❤️
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>